<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rule to remove .html extension -->
                <rule name="RemoveHTMLExtension" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                
                <!-- Optional: Redirect .html URLs to non-.html URLs -->
                <rule name="RedirectHTMLExtension" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
